{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>작성자 : 
      <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
    <!--여기부터 시작-->
      <form class="like-form" data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% if user in article.like_users.all %}     
          <button id="like-{{ article.pk }}">♡</button>
        {% else %}
          <button id="like-{{ article.pk }}">♥</button>
        {% endif %}
      </form>
    </div>
    <p>
      <span id="like-count-{{ article.pk }}">
        {{ article.like_users.all|length }}
      </span>
      명이 이 글을 좋아합니다.
    </p>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-form')  
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    forms.forEach(form => {
      form.addEventListener('submit', function (event){
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        console.log(event)
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
          .then(response => {
            console.log(response.data)
            const liked = response.data.liked
            const likeCount = response.data.likeCount
            const likeBtn = document.querySelector(`#like-${articleId}`)
            const likeCountNum = document.querySelector(`#like-count-${articleId}`)
            likeBtn.innerText = liked ? '♡' : '♥'   
            likeCountNum.innerText = likeCount
          })        
      })
    })
  </script>
{% endblock content %}